
.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #eefcfc;
}
.navigation {
  display: flex;
  gap: 1.2rem;

}
.nav-link:hover {
  color: #af0ad5;

}
.nav-link{
  color: #131213;
  font-size: 15px;}
.logoph {
  display: flex;
  border-image: none;
  width: 0.5cm;
  height: 0.5cm;

}
.txt1{
  font-size: 20px;
  padding-right: 5%;
  padding-bottom: 80px;

}
.btn1{
  width: 3cm;
  height: 1cm;
  font-size: 15px;
  color: #0453fc;
  border-color: #0453fc;
  background-color: #f7f7fc;
}


.navAbout{
  display: flex;
  padding-top: 20px;
  background-color: #b3c3e5;
  border-radius: 0.2cm;
  height: 10cm;
}
.h1{
  color: #131213;
  font-size: 12px;
}
.h2{
  color: #0e0d0d;
}
.p1{
  font-size: 12px;
  color: #4a68fd;
}
.btn2{
  color: #eefcfc;
  background-color: #0453fc;
  height: 40px;
  width: 3cm;
  border-radius: 0.2cm;

}
.aboutme{
  width: 25rem;
  border-radius: 10px;
  padding-right: 50px;
  padding-left:50px;
  font-size: 20px;
  text-align: start;
}
.logoph1{
  border-radius: 0.5cm;
  padding-top: 40px;
  padding-bottom: 50px;

}
.navMOREABOUT{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.skillP{
  display: flex;
  justify-content: space-between;
}
.divH{
  padding-bottom: 12px;
}
.hMore1{
  padding-left: 20px;
  text-align: start;
  font-size: 10px;
  color: #131213;
}
.hMore2{
  padding-left: 20px;
  text-align: start;
  font-size: 30px;
  color: #131213;
}
.skillP{
  display: flex;
}
.logoph2{
  width: 1cm;
  height: 1cm;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 95%;
}
.div1{
  border-radius: 0.2cm;
  background-color: #38fcfc;
  font-size: 20px;
  margin: 30px;
}
.div1 h1{
  font-size: 10px;
  text-align: start;
  padding-left: 5%;
}
.div1 p{
  font-size: 10px;
  text-align: start;
  padding-left: 5%;}
.div2{
  border-radius: 0.2cm;
  background-color: #38fcfc;
  font-size: 20px;
  margin: 30px;
}

.div2 h1{
  font-size: 10px;
  text-align: start;
  padding-left: 5%;


}
.div2 p{
  font-size: 10px;
  text-align: start;
  padding-left: 5%;


}
.div3{
   border-radius: 0.2cm;
  background-color: #38fcfc;
  font-size: 20px;
  margin: 30px;
}

.div3 h1{
  font-size: 10px;
  padding-left: 5%;
  text-align: start;

}
.div3 p{
  font-size: 10px;
  padding-left: 5%;
  text-align: start;

}
.div4{
  border-radius: 0.2cm;
  background-color: #38fcfc;
  font-size: 20px;
  margin: 30px;
}

.div4 h1{
  font-size: 10px;
  padding-left: 5%;
  text-align: start;

}
.div4 p{
  font-size: 10px;
  text-align: start;
  padding-left: 5%;
}
.aboutMe{
  display: flex;
}
.aboutP{
  margin: 50px;
}
.projectD{
  display: flex;
}
.diva{
  margin: 20px;
  background-color: #38fcfc;
}
.diva p{
  padding-left: 20px;
}
.logoph3{
  width: 80px;
  padding: 20px;
}
.footerP{
  display: flex;
  text-align: start;

}
.logoph4{
  width: 1cm;
  height: 1cm;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.projectA{
  padding-right: 60%;
}
.logoph5{
   width: 8cm;
  height: 4cm;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.section{
  padding: 20px;
}
.logoph6{
  width: 3cm;
  height: 1cm;
  padding-left: 95%;

}

