
.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #eefcfc;
}
.logoph {
  display: flex;
  border-image: none;
  width: 2cm;
  height: 2cm;

}
.txt1{
  font-size: 20px;
  padding-right: 5%;
  padding-bottom: 80px;

}
.btn1{
  width: 4cm;
  height: 1cm;
  font-size: 20px;
  color: #5c8cf3;
  background-color: #eefcfc;
}

nav h1 {
  color: #4a68fd;
  font-size: 40px;
}

nav a {
  color: #0453fc;
  transition: text-indent;
  font-size: 20px;
}
nav a:hover {
  color: #1a071a;

}

nav ul {
  display: flex;
  gap: 1.2rem;

}

nav ul li {
  font-weight:bold;
}
.navAbout{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  background-color: #b3c3e5;
}
.aboutme{
  width: 25rem;
  border-radius: 10px;
  padding-right: 50px;
  padding-left:50px;
  font-size: 20px;
  text-align: center;
}
.logoph1{
  width: 5cm;
  height: 5cm;
}
.navMOREABOUT{

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.divH{
  padding-bottom: 12px;
}
.hMore{

  text-align: center;
  font-size: 20px;
  font-color:#2157

}

